/* general */
body {
    font-family: "Montserrat", "PT Sans", "Helvetica";
}

img {
    text-align: center;
}

/* header */
.logo-image {
    max-width: 90px;
    max-height: 90px;
}

.page-header {
    margin: 0;
    padding: 0;
    text-align: right;
}

/* main section */
figure {
    margin-top: 5%;
    text-align: center;
}

h2 {
    background-color: #efefef;
    border: 2px dotted #d8d8d8;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

/* aside bar */
aside h3 {
  text-align: right;
}

/* footer */
footer {
    background-color: #24855b;
    color: white;
    padding: 50px;
    text-align: center;
}

.fa {
    color: white;
    font-size: 40px;
    width: 15%;
}

.fa:focus {
    color: #97deb4;
    text-decoration: none;
}

.fa:hover {
    color: #38cd8c;
    text-decoration: none;
}

/* depending on viewport width */
@media screen and (max-width: 576px) {
    .fa {
        margin: 3%;
    }
    .logo-image {
      max-width: 70px;
      max-height: 70px;
    }
}

@media screen and (max-width: 950px) {
    .fa {
        width: 20%;
    }
    .logo-image {
      max-width: 80px;
      max-height: 80px;
    }
}
