html,body {
  padding,margin: 0;
}

.container {
  position: relative;
  font-family: 'Slabo 27px', serif;
  height: 100vh;
}

.sidebar {
  position: absolute;
  width: 30%;
  height: 98%;
  border: 1px solid black;
  overflow-y: scroll;
}

.sidebar input {
  position: absolute;
  font-size: 30px;
}

.sidebar input[type="text"] {
  width: 80%;
  left: 10%;
  height: 7%;
  top: 3%;
  position: absolute;
}

.sidebar input[type="submit"] {
  height: 8%;
  width: 80%;
  left: 10%;
  top: 16%;
  position: absolute;
}

.sidebar input[type="button"] {
  height: 8%;
  width: 80%;
  left: 10%;
  top: 22%;
  position: absolute;
}

.sidebar ul {
  position: absolute;
  list-style-type: none;
  top: 28%;
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  text-align: center;
  padding: 4%;
  margin: 0;
}

.sidebar ul li:hover {
  background-color: #FF7F50;
}

#mainMap {
  position: absolute;
  width: 69%;
  left: 31%;
  height: 99%;
}

@media screen and (max-height: 805px) {
  .sidebar ul li {
    padding: 4% 0% 4% 0%;
  }

  .sidebar input {
    font-size: 20px;
  }

  .sidebar input[type="button"] {
    font-size: 15px;
  }
}
