.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(#006, #004d66, #00664d);
  background: -o-linear-gradient(#006, #004d66, #00664d);
  background: linear-gradient(#006, #004d66, #00664d);
}

header {
  flex: 0 0 100%;
  text-align: center;
  background-color: #006;
  font-family: "Helvetica";
  color: white;
  font-size: 32px;
  margin: 30px;
}

.mainGrid {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  border: black none 3px;
  margin: 0;
}

.mainGrid > div {
  text-align: center;
  flex: 1 1 20%;
  margin: 5px;
  height: 150px;
  border: black dashed 2px;
  background-color: rgba(255, 255, 255, 0.75);
}

.greyOut {
  opacity: 0.9;
}

.fa {
    color: white;
    font-size: 40px;
    width: 15%;
}

.fa:focus {
    color: #97deb4;
    text-decoration: none;
}

.fa:hover {
    color: #38cd8c;
    text-decoration: none;
}

.card1 {
  background-image: url('../img/img1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card2 {
  background-image: url('../img/img2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card3 {
  background-image: url('../img/img3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card4 {
  background-image: url('../img/img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card5 {
  background-image: url('../img/img5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card6 {
  background-image: url('../img/img6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card7 {
  background-image: url('../img/img7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card8 {
  background-image: url('../img/img8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
