body {
  /* Width of .content: 300px + padding-left (15px) + padding-right (15px)
  + border at left and right (1px each) + padding-left/right (15px each)
  of the element with a class attribute value of "information" */
  width: 352px;
}

img {
  width: 300px;
}

span {
  font-weight: bold;
}

ul {
  /*remove dots*/
  list-style-type: none;
  /*remove unnecessary indenting*/
  padding: 0px;
}

.content {
  border: solid 1px #cecece;
  /* it appears to me as if the browser adds some padding at the top by default? (tested in chrome) */
  padding: 0px 15px 15px 15px;
  width: 300px;
}

.information {
  border: solid 1px #cecece;
  border-radius: 4px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.interesting-fact {
  font-style: italic;
}
