/* add your CSS here */
body {
  width: 332px;
}

img {
  width: 300px;
  padding-bottom: 10px;
}

span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.content {
  border: solid 1px gray;
  padding: 0px 15px 15px 15px;
}

.information {
  border: solid 1px gray;
  padding: 0px 10px 0px 10px;
}

.interesting-fact {
  font-style: italic;
}
